body {
    margin: 10px;
}

.bold {
    font-weight: bold;
}

article {
    text-align: center;
    azimuth: 70deg;
    color: brown;
    border-collapse: collapse;
    cursor: crosshair;
}

/*
Challenge:
Navigate to the Stack Overflow question and pick a 
few inherited CSS properties. Add them to the article
tag to see how they work.
*/