body {
    margin: 20px;
    font-family: Trebuchet MS, Tahoma, Verdana,  sans-serif;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #ddebf8;
    color: 011936;
    border-bottom: 6px solid #d8cefe;
    transition: all 0.2s ease-in-out;
}

.card:hover {
    transform: translateY(-4px);
    background: #c3dff9;
    box-shadow: 10px 10px #03045e;
}

.border-blue {
    border: 1px dotted blue;
}