/* 
Challenge:
Re-design the cookie widget!
PS: Make sure you change ALL of the listed CSS properties.
*/

body {
    background: turquoise;     /* red, blue, yellow, etc */
    color: red;             /* red, blue, yellow, etc */
    font-size: 80px;        /* 0px - 100px and beyond */
    font-weight: bold;   /* lighter, normal, bold  */
    text-align: center;      /* left, center or right  */ 
    margin-top: 15px;        /* From 0px and upwards   */
}





